* {
    padding:0px;
    margin:0px;
}
:root{
    --base-color:rgb(238, 234, 248);
    --accent-color: #644bf3;
    --text-color: #27213a;
    --input-color:#e7e2fa;
}

html{
    font-family: Poppins, Segoe UI, sans-serif;
    font-size: 13pt;
    color: var(--text-color);
    text-align: center;
}
/* display:grid for sidebar feature*/
body{
    overflow: hidden;
    min-height:100vh;
    width: fit-content;
    background-color: var(--base-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
#container{
    background-color: var(--input-color);
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#description-input{
    border: var(--accent-color);
    color: var(--base-color);
}