* {
    padding:0px;
    margin:0px;
    font-family: "Lexend Deca", Helvetica, sans-serif;
    font-size: 13pt;
    color: var(--text-color);
    box-sizing: border-box;
} /* side bar */

:root{ 
    --base-color:rgb(238, 234, 248);
    --accent-color: #426dbd;
    --text-color: #27213a;
    --input-color:#e7e2fa;
}
    /*grid-template-columns: auto 1fr;*/
#master-resume{
    background-color: var(--base-color);
    color: var(--text-color);
    min-height:100vh;
    min-width: min-content;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#master-resume .section{
    width: 80vw;
    margin:5px;
}
.fields .controls{
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}
/* Experience section stylings */
#experience .section-header{
    background-color: var(--accent-color)
}
#experience #experience-basic-info{
    display: flex;
    flex-direction: row;
}
#master-resume button{
    border: none;
}