* {
    padding:0px;
    margin:0px;
    font-family: Helvetica, sans-serif;
    font-size: 13pt;
    color: var(--text-color);
}
:root{
    --base-color:rgb(238, 234, 248);
    --accent-color: #644bf3;
    --text-color: #27213a;
    --input-color:#e7e2fa;
}
    /*grid-template-columns: auto 1fr;*/
#master-resume{
    background-color: var(--base-color);
    color: var(--text-color);
    min-height:100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#master-resume .section{

}