/* Interactive sidebar stylings */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 13pt;
    color: var(--text-color);
}

:root {
    --base-color: rgb(238, 234, 248);
    --accent-color: #644bf3;
    --text-color: #27213a;
    --input-color: #e7e2fa;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: max(150px, 20vw);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(8,1fr);
    grid-row-gap: 2px;
    padding: 5px;
    background-color: var(--accent-color);
    border-right: 1px solid var(--accent-color);
    position: sticky;
    top: 0;
    transition: width 300ms ease-in-out;
    overflow: hidden;
}

#sidebar.close {
    width: min-content;
}

#sidebar.close .Logo,
#sidebar.close .text {
    display: none;
}

#sidebar i,
#sidebar a {
    color: var(--text-color);
    margin-top: 3px;
    align-items: center;
    justify-content: left;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 5px 1em;
    gap: 5px;
    transition: background-color 400ms ease-in-out;
}

/* Top of navbar */
#sidebar > ul > li:first-child {
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sidebar > ul > li:first-child .Logo {
    font-weight: 700;
    font-size: 1.25em;
    justify-self: flex-start;
    padding: 8px;
}

#sidebar-toggle {
    justify-self: right;
}

/* Logout button placement */
#sidebar > ul > li:last-child {
    align-self: flex-end;
}

#sidebar ul li:hover {
    background-color: var(--base-color);
    cursor: pointer;
}

.navItem {
    display: flex;
    flex-direction: column;
    margin: 3px;
    background-color: var(--accent-color);
}

.navItem .text {
    text-decoration: none;
}