/* Interactive sidebar stylings */
* {
    padding: 0;
    margin: 0;
    font-family: "Lexend Deca", Helvetica, sans-serif;
    font-size: 13pt;
    color: var(--text-color);
}
body{
    display: flex;
    flex-direction: row;
}

:root {
    --base-color: rgb(238, 234, 248);
    --accent-color: #426dbd;
    --text-color: #27213a;
    --input-color: #e7e2fa;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: max(200px, 20vw);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(8,1fr);
    grid-row-gap: 2px;
    padding: 5px;
    background-color: var(--accent-color);
    border-right: 1px solid var(--accent-color);
    position: sticky;
    top: 0;
    transition: width 300ms ease-in-out;
    overflow: hidden;
}
#sidebar-logo{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#sidebar-logo i{
    justify-self: flex-end;
}
#sidebar-home{
    grid-row: 2;
}
#sidebar-create{
    grid-row: 3;
}
#sidebar-master-resume{
    grid-row: 4;
}
#sidebar-analytics{
    grid-row: 5;
}
#sidebar-profile{
    grid-row: 6;
}
#sidebar-logout{
    grid-row: 8;
}
#sidebar.close {
    width: min-content;
}

#sidebar.close .Logo,
#sidebar.close .text {
    display: none;
}

#sidebar i,
#sidebar a {
    color: var(--text-color);
    margin: 3px;
    align-items: center;
    justify-content: left;
}

#sidebar ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding: 5px 1em;
    gap: 5px;
    transition: background-color 400ms ease-in-out;
}