body {
    width: 850px;
    margin: auto;
    background: #365396;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Serif;
    
}

p {  font-size: 1.0em;
    font-style: italic;
}

#login-box {
    background: #A225C9;
    background: -moz-linear-gradient(45deg, #A225C9 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(45deg, #A225C9 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(45deg, #A225C9 0%, #2388CB 50%, #144E75 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 400px;
    height: 180px;
}
